<div class="hvj-widget-edit"
     *ngIf="widget"
     [ngSwitch]="WidgetType[widget.widgetType]">


  <div *ngSwitchCase="WidgetType.Heading">
    <app-widget-header-edit [widget]="widget"
                            (updateWidget)="updateWidget($event)"
                            (deleteWidget)="deleteWidget($event)"></app-widget-header-edit>
  </div>

  <div *ngSwitchCase="WidgetType.Image">
    <app-widget-image-edit [widget]="widget"
                           (updateWidget)="updateWidget($event)"
                           (deleteWidget)="deleteWidget($event)"></app-widget-image-edit>
  </div>

  <div *ngSwitchCase="WidgetType.Html">
    <app-widget-html-edit [widget]="widget"
                          (updateWidget)="updateWidget($event)"
                          (deleteWidget)="deleteWidget($event)"></app-widget-html-edit>
  </div>

  <div *ngSwitchCase="WidgetType.YouTube">
    <app-widget-youtube-edit [widget]="widget"
                             (updateWidget)="updateWidget($event)"
                             (deleteWidget)="deleteWidget($event)"></app-widget-youtube-edit>
  </div>

  <div *ngSwitchCase="WidgetType.Text">
    <app-widget-text-edit [widget]="widget"
                          (updateWidget)="updateWidget($event)"
                          (deleteWidget)="deleteWidget($event)"></app-widget-text-edit>
  </div>

</div>