<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>User Profile</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
  <link href="https://bootswatch.com/4-alpha/cosmo/bootstrap.css" rel="stylesheet" />
  <link href="../../css/styles.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">Profile</a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="profile.html">
                <span class="fa fa-check"></span>
            </a>
      </li>
    </ul>
  </nav>
  <br>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="walice">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="alice.wonderland@unicorn.com">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="Alice">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Wonderland">
      </div>
    </form>
    <a class="btn btn-primary btn-block" href="../website/website-list.html">Websites</a>
    <a class="btn btn-danger btn-block " href="login.html">Logout</a>

  </div>

  <!-- Footer -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
      </p>

    </div>
  </nav>

</body>

</html>