<!--Top Nav-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-royal px-2">
  <ul class="navbar-nav mr-3">
    <li class="nav-item">
      <a class="nav-link px-0"
         [routerLink]="['/user', userId]"
         title="Back to Profile">
        <span class="fa fa-chevron-left fa-lg"></span>
      </a>
    </li>
  </ul>

  <a class="navbar-brand"
     href="">Websites</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link px-0"
         [routerLink]="['/user', userId,'website/new']"
         title="New Website">
        <span class="fa fa-plus fa-lg"></span>
      </a>
    </li>
  </ul>
</nav>
<!--/Top Nav-->

<div class="container hvj-outermost">
  <ul class="list-group list-group-flush">

    <li class="list-group-item"
        *ngFor="let thisWebsite of websites">
      <a [routerLink]="['/user',userId,'website', thisWebsite._id ,'page']">
        <span>{{thisWebsite.name}}</span>
        <span class="small text-secondary font-italic d-sm-inline d-none ml-2">{{thisWebsite.description}}</span>
      </a>
      <a [routerLink]="['/user', userId, 'website', thisWebsite._id]"
         class="btn btn-xs float-right link-royal">
        <span class="fa fa-gear"></span>
      </a>
    </li>

  </ul>
</div>