<!--Top Nav-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-royal px-2 px-sm-3">
  <span class="navbar-brand">Profile</span>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <!-- Action button -->
      <a class="nav-link px-0"
         (click)="saveProfile()"
         title="Save Changes">
        <span class="fa fa-check fa-lg"></span>
      </a>
      <!-- /Action button -->
    </li>
  </ul>
</nav>
<!--/Top Nav-->

<div class="container">
  <form #profileForm="ngForm"
        (ngSubmit)="saveProfile()"
        *ngIf="user">
    <!--User Name-->
    <div class="form-group">
      <label for="username"
             class="font-weight-bold text-muted">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             placeholder="walice"
             name="username"
             [(ngModel)]="user.username"
             #usernameField="ngModel"
             [ngClass]="{'border-danger': profileErrors.username || (!usernameField.valid && usernameField.touched)}"
             required>
      <span *ngIf="usernameField.invalid && usernameField.touched"
            class="text-danger ml-2">Username is required</span>
      <span *ngIf="profileErrors.username"
            class="text-danger ml-2">{{profileErrors.username}}</span>
    </div>
    <!--/User Name-->

    <!--Email-->
    <div class="form-group">
      <label for="email"
             class="font-weight-bold text-muted">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             placeholder="alice.wonderland@unicorn.com"
             [(ngModel)]="user.email"
             #emailField="ngModel"
             [ngClass]="{'border-danger': profileErrors.email}">
      <span *ngIf="profileErrors.email"
            class="text-danger ml-2"></span>
    </div>
    <!--/Email-->

    <!--First Name-->
    <div class="form-group">
      <label for="first-name"
             class="font-weight-bold text-muted">First Name</label>
      <input type="text"
             class="form-control"
             id="first-name"
             name="firstName"
             placeholder="Alice"
             [(ngModel)]="user.firstName"
             #firstNameField="ngModel"
             [ngClass]="{'border-danger': profileErrors.firstName || (!firstNameField.valid && firstNameField.touched)}">
      <span *ngIf="firstNameField.invalid && firstNameField.touched"
            class="text-danger ml-2">First Name is required</span>
      <span *ngIf="profileErrors.firstName"
            class="text-danger ml-2">{{profileErrors.firstName}}</span>
    </div>
    <!--First Name-->

    <!--Last Name-->
    <div class="form-group">
      <label for="last-name"
             class="font-weight-bold text-muted">Last Name</label>
      <input type="text"
             class="form-control"
             id="last-name"
             name="lastName"
             placeholder="Wonderland"
             [(ngModel)]="user.lastName"
             #lastNameField="ngModel"
             [ngClass]="{'border-danger': profileErrors.lastName || (!lastNameField.valid && lastNameField.touched)}">
      <span *ngIf="lastNameField.invalid && lastNameField.touched"
            class="text-danger ml-2">Last Name is required</span>
      <span *ngIf="profileErrors.lastName"
            class="text-danger ml-2">{{profileErrors.lastName}}</span>
    </div>
    <!--/Last Name-->

    <!--Action Buttons-->
    <div class="form-group">
      <a class="btn btn-royal btn-block"
         [routerLink]="['website']">Websites</a>
      <button type="submit"
              class="btn btn-success btn-block d-none">Save Changes</button>
      <button class="btn btn-danger btn-block"
              (click)="logout()">Logout</button>
    </div>
    <!--/Action Buttons-->
  </form>
</div>