<p>
  <span class="display-3">Login</span>
</p>
<hr>
<br>
<!--form-->
<form class="form"
      #f="ngForm"
      (ngSubmit)="login(f)" novalidate>
  <div class="form-group">
    <input placeholder="User Name"
           type="text"
           class="form-control"
           name="username"
           #username="ngModel"
           ngModel
           [ngClass]="{'border-danger': !username.valid && username.touched}"
           required />
           <span class="small text-danger ml-2" [hidden]="username.valid || !username.touched">Username is required</span>
  </div>
  <div class="form-group">
    <input placeholder="Password"
           type="password"
           class="form-control"
           name="password"
           #password="ngModel"
           ngModel
           [ngClass]="{'border-danger': !password.valid && password.touched}"
           required/>
           <span class="small text-danger ml-2" [hidden]="password.valid || !password.touched">Password is required</span>
  </div>
  <!-- form actions -->
  <div>
    <button type="submit"
            class="btn btn-royal btn-block" [disabled]="!f.valid">Login</button>
    <a class="btn btn-secondary btn-block"
       [routerLink]="['/register']">Register</a>
  </div>
  <!-- /form actions -->
</form>
<!--/form-->