<!--Top Nav-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-royal px-2 px-sm-3">
  <ul class="navbar-nav mr-3">
    <li class="nav-item">
      <!-- Back button -->
      <a class="nav-link px-0"
         [routerLink]="['../']"
         title="Widgets">
        <span class="fa fa-chevron-left fa-lg"></span>
      </a>
      <!-- /Back button -->
    </li>
  </ul>

  <a class="navbar-brand"
     href="">Widget Edit : Html</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <!-- Action button -->
      <a class="nav-link px-0"
         (click)="saveChanges()"
         title="Save Changes">
        <span class="fa fa-check fa-lg"></span>
      </a>
      <!-- /Action button -->
    </li>
  </ul>
</nav>
<!--/Top Nav-->

<!--content-->
<div class="container hvj-widget-header-edit">
  <form #widgetHtmlEditForm="ngForm">
    <!--Widget Name-->
    <div class="form-group">
      <label for="widget-name"
             class="font-weight-bold text-muted">Name</label>
      <input type="text"
             class="form-control"
             id="widgetName"
             name="name"
             placeholder="Name"
             [(ngModel)]="widget.name"
             #nameField="ngModel">
    </div>
    <!--/Widget Name-->

    <!--Widget Heading Text-->
    <div class="form-group">
      <label for="widget-heading-text"
             class="font-weight-bold text-muted">Text</label>
      <textarea type="text"
                class="form-control"
                id="widget-heading-text"
                name="text"
                placeholder="Html"
                rows=5
                [(ngModel)]="widget.text"
                #textField="ngModel"
                [ngClass]="{'border-danger': textField.invalid && textField.touched}"
                required>
      </textarea>
      <span *ngIf="textField.invalid && textField.touched"
            class="text-danger ml-2">Text is required</span>
    </div>
    <!--/Widget Heading Text-->

    <!-- Form buttons -->
    <div class="row no-gutters">
      <div class="col-12 col-sm-9 mr-1">
        <!-- Save button -->
        <button class="btn btn-success btn-block mr-1 mb-2"
                title="Save Widget"
                (click)="saveChanges()">
          <i class="fa fa-check"></i>
        </button>
      </div>
      <div class="col">
        <!-- Delete button -->
        <button class="btn btn-danger btn-block"
                title="Delete Widget"
                (click)="showDeleteConfirmation = true"
                [hidden]="showDeleteConfirmation">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-danger btn-block mt-0"
                title="Delete Widget"
                [hidden]="!showDeleteConfirmation"
                (click)="deleteWidget()">sure?</button>
      </div>
    </div>

  </form>
</div>
<!--/content-->