<!--Top Nav-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-royal px-2 px-sm-3">
  <ul class="navbar-nav mr-3">
    <li class="nav-item">
      <!-- Back button -->
      <a class="nav-link px-0"
         [routerLink]="['../']"
         title="Edit Widget">
        <span class="fa fa-chevron-left fa-lg"></span>
      </a>
      <!-- /Back button -->
    </li>
  </ul>

  <span class="navbar-brand ml-auto mr-auto">
    <i class="fa fa-flickr"
       aria-hidden="true"></i>
    Flickr Image Search
  </span>

</nav>
<!--/Top Nav-->

<!--content-->
<div class="container hvj-flickr-image-search">
  <form ngForm
        (ngSubmit)="search()">
    <div class="input-group">
      <input type="text"
             class="form-control"
             placeholder="Search Images"
             name="searchText"
             [(ngModel)]="searchText">
      <span class="input-group-btn">
        <button type="submit"
                class="btn btn-royal text-light">
          <span class="fa fa-check fa-lg"></span>
        </button>
      </span>
    </div>
  </form>
  <div *ngIf="searchResults"
       class="mt-3 row search-results-wrap">
    <div class="d-inline-block"
         *ngFor="let img of searchResults"
         (click)="selectImage(img)">
      <img class="img-thumbnail p-1 rounded-0"
           [src]="img">
    </div>
  </div>
  <p class="text-center mt-3"
     *ngIf="!searchResults || searchResults.length == 0">
    <small>
      <em class="text-secondary">Nothing to show yet!</em>
    </small>
  </p>

</div>
<!--/content-->