<div class="row">
  <!-- Sidebar -->
  <div class="col-4 hvj-landscape-only">
    <!--Top Nav-->
    <nav
      class="navbar navbar-expand fixed-top navbar-dark bg-royal col-4 hvj-nav-border-right px-2">
      <ul class="navbar-nav mr-3">
        <li class="nav-item">
          <a class="nav-link px-0" [routerLink]="['user/:uid/website/:wid/page']" title="Pages">
            <span class="fa fa-chevron-left fa-lg"></span>
          </a>
        </li>
      </ul>

      <a class="navbar-brand" href="">Pages</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-0" href="page-new.html" title="New Page">
            <span class="fa fa-plus fa-lg"></span>
          </a>
        </li>
      </ul>
    </nav><!--/Top Nav-->

    <!--Sidebar Content-->
    <div>
      <ul class="list-group  list-group-flush">
        <li class="list-group-item">
          <a class="btn btn-xs" [routerLink]="['user/:uid/website/:wid/page/:pid/widget']">
            <span>Blog Post</span>
          </a>
          <a [routerLink]="['user/:uid/website/:wid/page/:pid']" class="btn btn-xs float-right link-royal">
            <span class="fa fa-gear"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a class="btn btn-xs" [routerLink]="['user/:uid/website/:wid/page/:pid/widget']">
            <span>Blogs</span>
          </a>
          <a [routerLink]="['user/:uid/website/:wid/page/:pid']" class="btn btn-xs float-right link-royal">
            <span class="fa fa-gear"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a class="btn btn-xs" [routerLink]="['user/:uid/website/:wid/page/:pid/widget']">
            <span>Home</span>
          </a>
          <a [routerLink]="['user/:uid/website/:wid/page/:pid']" class="btn btn-xs float-right link-royal">
            <span class="fa fa-gear"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a class="btn btn-xs" [routerLink]="['user/:uid/website/:wid/page/:pid/widget']">
            <span>About</span>
          </a>
          <a [routerLink]="['user/:uid/website/:wid/page/:pid']" class="btn btn-xs float-right link-royal">
            <span class="fa fa-gear"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a class="btn btn-xs" [routerLink]="['user/:uid/website/:wid/page/:pid/widget']">
            <span>Contact Us</span>
          </a>
          <a [routerLink]="['user/:uid/website/:wid/page/:pid']" class="btn btn-xs float-right link-royal">
            <span class="fa fa-gear"></span>
          </a>
        </li>
      </ul>
    </div><!--/Sidebar Content-->
  </div><!--/Sidebar-->

  <div class="hvj-vertical-line col-4 hvj-landscape-only"></div>
  <!--Main content-->
  <div class="col">
    <!--Top Nav-->
    <nav
      class="navbar navbar-expand fixed-top navbar-dark bg-royal ml-auto hvj-landscape-col-8 px-2">
      <ul class="navbar-nav mr-3 hvj-portrait-only">
        <li class="nav-item">
          <a class="nav-link px-0" [routerLink]="['user/:uid/website/:wid/page']" title="Websites">
            <span class="fa fa-chevron-left fa-lg"></span>
          </a>
        </li>
      </ul>

      <a class="navbar-brand" href="">Edit Page</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-0" [routerLink]="['user/:uid/website/:wid/page']" title="Save Changes">
            <span class="fa fa-check fa-lg"></span>
          </a>
        </li>
      </ul>
    </nav><!--/Top Nav-->

    <!--content-->
    <div>
      <form>
        <!--Page Name-->
        <div class="form-group">
          <label for="pageName" class="font-weight-bold text-muted">Page Name</label>
          <input type="text" class="form-control" id="pageName" placeholder="Page Name"
                 value="Blog Post">
        </div><!--/Page Name-->

        <!--Page Title-->
        <div class="form-group">
          <label for="pageTitle" class="font-weight-bold text-muted">Page Title</label>
          <input type="text" class="form-control" id="pageTitle" placeholder="Page Title">
        </div><!--/Page Name-->
        <a class="btn btn-danger btn-block" [routerLink]="['user/:uid/website/:wid/page']">Delete</a>
      </form>
    </div><!--/content-->
  </div><!--/Main content-->
</div>