<!--Top Nav-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-royal px-2">
  <ul class="navbar-nav mr-3">
    <li class="nav-item">
      <!-- Back button -->
      <a class="nav-link px-0"
         [routerLink]="['../']"
         title="Back to Widget List">
        <span class="fa fa-chevron-left fa-lg"></span>
      </a>
      <!-- /Back button -->
    </li>
  </ul>

  <a class="navbar-brand mr-auto"
     href="">Choose Widget</a>

</nav>
<!--/Top Nav-->

<div class="container widget-chooser">
  
  <ul class="list-group list-group-flush">
    
    <li class="list-group-item" *ngFor="let thisWidget of widgetTypes">
      <a class="btn btn-xs link-royal"
         (click)="createWidget(thisWidget)">
        <span>{{thisWidget}}</span>
      </a>
    </li>

  </ul>

</div>