<div class="row">
  <!-- Sidebar -->
  <div class="col-4 hvj-landscape-only px-1">
    <app-website-list compactMode="true"></app-website-list>
  </div>
  <!--/Sidebar-->

  <div class="hvj-vertical-line col-4 hvj-landscape-only"></div>
  <!--Main content-->
  <div class="col">
    <!--Top Nav-->
    <nav class="navbar navbar-expand fixed-top navbar-dark bg-royal ml-auto hvj-landscape-col-8 px-2">
      <ul class="navbar-nav mr-3 hvj-portrait-only">
        <li class="nav-item">
          <a class="nav-link px-0"
             [routerLink]="['/user', userId, 'website']"
             title="Websites">
            <span class="fa fa-chevron-left fa-lg"></span>
          </a>
        </li>
      </ul>

      <a class="navbar-brand"
         href="">New Website</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link px-0"
             (click)="saveChanges()"
             title="Save Changes">
            <span class="fa fa-check fa-lg"></span>
          </a>
        </li>
      </ul>
    </nav>
    <!--/Top Nav-->

    <!--content-->
    <div>
      <form #websiteNewForm="ngForm">
        <!--Website Name-->
        <div class="form-group">
          <label for="websiteName"
                 class="font-weight-bold text-muted">Website Name</label>
          <input type="text"
                 class="form-control"
                 id="websiteName"
                 name="name"
                 placeholder="Name"
                 [(ngModel)]="website.name"
                 #nameField="ngModel"
                 [ngClass]="{'border-danger': nameField.invalid && nameField.touched}"
                 required>
          <span *ngIf="nameField.invalid && nameField.touched"
                class="text-danger ml-2">Name is required</span>
        </div>
        <!--/Website Name-->

        <!--Website Description-->
        <div class="form-group">
          <label for="websiteDescription"
                 class="font-weight-bold text-muted">Website Name</label>
          <textarea class="form-control"
                    id="websiteDescription"
                    name="description"
                    [(ngModel)]="website.description"
                    rows="6">{{website.description}}
            </textarea>
        </div>
        <!--/Website Description-->

        <a class="btn btn-block btn-danger"
           [routerLink]="['/user', userId, 'website']">Cancel</a>
      </form>
    </div>
    <!--/content-->
  </div>
  <!--/Main content-->
</div>