<div class="row">
  <!-- Sidebar -->
  <div class="col-4 hvj-landscape-only px-1">
    <app-website-list compactMode="true"></app-website-list>
  </div>
  <!--/Sidebar-->

  <div class="hvj-vertical-line col-4 hvj-landscape-only"></div>
  <!--Main content-->
  <div class="col">
    <!--Top Nav-->
    <nav class="navbar navbar-expand fixed-top navbar-dark bg-royal ml-auto hvj-landscape-col-8 px-2 px-sm-3">
      <ul class="navbar-nav mr-3 hvj-portrait-only">
        <li class="nav-item">
          <!-- Back button -->
          <a class="nav-link px-0"
             [routerLink]="['../']"
             title="Websites">
            <span class="fa fa-chevron-left fa-lg"></span>
          </a>
          <!-- /Back button -->
        </li>
      </ul>

      <a class="navbar-brand"
         href="">New Website</a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- Action button -->
          <a class="nav-link px-0"
             (click)="saveChanges()"
             title="Create Website">
            <span class="fa fa-check fa-lg"></span>
          </a>
          <!-- /Action button -->
        </li>
      </ul>
    </nav>
    <!--/Top Nav-->

    <!--content-->
    <div class="hvj-website-new">
      <form #websiteNewForm="ngForm">
        <!--Website Name-->
        <div class="form-group">
          <label for="websiteName"
                 class="font-weight-bold text-muted">Website Name</label>
          <input type="text"
                 class="form-control"
                 id="websiteName"
                 name="name"
                 placeholder="Name"
                 [(ngModel)]="website.name"
                 #nameField="ngModel"
                 [ngClass]="{'border-danger': nameField.invalid && nameField.touched}"
                 required>
          <span *ngIf="nameField.invalid && nameField.touched"
                class="text-danger ml-2">Name is required</span>
        </div>
        <!--/Website Name-->

        <!--Website Description-->
        <div class="form-group">
          <label for="websiteDescription"
                 class="font-weight-bold text-muted">Website Name</label>
          <textarea class="form-control"
                    id="websiteDescription"
                    name="description"
                    [(ngModel)]="website.description"
                    rows="6">{{website.description}}
            </textarea>
        </div>
        <!--/Website Description-->

        <!-- Form buttons -->
        <div class="row no-gutters">
          <div class="col-12 col-sm-9 mr-1">
            <!-- Save button -->
            <button class="btn btn-success btn-block mr-1 mb-2"
                    title="Create Website"
                    (click)="saveChanges()">
              <i class="fa fa-check"></i>
            </button>
          </div>
          <div class="col">
            <!-- Delete button -->
            <a class="btn btn-block btn-danger"
               title="Cancel"
               [routerLink]="['../']">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

      </form>
    </div>
    <!--/content-->
  </div>
  <!--/Main content-->
</div>

<!-- Page Footer -->
<app-footer></app-footer>