<p>
  <span class="display-3">Register</span>
</p>
<hr>
<br>
<!--form-->
<div class="form">
  <div class="form-group">
    <input placeholder="User Name" type="text" class="form-control"/>
  </div>
  <div class="form-group">
    <input placeholder="Password" type="password" class="form-control"/>
  </div>
  <div class="form-group">
    <input placeholder="Verify Password" type="password" class="form-control"/>
  </div>
  <!-- form actions -->
  <div>
    <a class="btn btn-royal btn-block" [routerLink]="['/user/:uid']">Register</a>
    <a class="btn btn-danger btn-block" [routerLink]="['/login']">Cancel</a>
  </div>
  <!-- /form actions -->
</div>
<!--/form-->